useDynLib(rmongodb, .registration = TRUE)

export(mongo.create)
export(mongo.get.err)
export(mongo.clear.err)
export(mongo.disconnect)
export(mongo.reconnect)
export(mongo.is.connected)
export(mongo.get.socket)
export(mongo.get.primary)
export(mongo.is.master)
export(mongo.set.timeout)
export(mongo.get.timeout)
export(mongo.get.hosts)
export(mongo.authenticate)
export(mongo.add.user)
export(mongo.get.server.err)
export(mongo.get.server.err.string)
export(mongo.reset.error)
export(mongo.get.last.error)
export(mongo.get.prev.error)

export(mongo.insert)

export(mongo.update.upsert)
export(mongo.update.multi)

export(mongo.update)
export(mongo.remove)
export(mongo.find.one)

export(mongo.find.cursor.tailable)
export(mongo.find.slave.ok)
export(mongo.find.oplog.replay)
export(mongo.find.no.cursor.timeout)
export(mongo.find.await.data)
export(mongo.find.exhaust)
export(mongo.find.partial.results)

export(mongo.find)
export(mongo.cursor.next)
export(mongo.cursor.value)
export(mongo.cursor.destroy)

export(mongo.index.unique)
export(mongo.index.drop.dups)
export(mongo.index.background)
export(mongo.index.sparse)

export(mongo.index.create)
export(mongo.count)
export(mongo.command)
export(mongo.simple.command)
export(mongo.drop.database)
export(mongo.drop.collection)
export(mongo.get.databases)
export(mongo.rename)

export(mongo.bson.empty)
export(mongo.bson.size)
export(mongo.bson.print)
export(print.mongo.bson)
export(mongo.bson.to.list)
export(mongo.bson.find)

export(mongo.bson.iterator.create)
export(mongo.bson.find)
export(mongo.bson.iterator.more)
export(mongo.bson.iterator.next)
export(mongo.bson.iterator.type)
export(mongo.bson.iterator.key)
export(mongo.bson.iterator.value)

export(mongo.oid.create)
export(mongo.oid.time)
export(mongo.oid.from.string)
export(mongo.string.from.oid)
export(mongo.oid.print)
export(print.mongo.oid)

export(mongo.timestamp.create)
export(mongo.code.create)
export(mongo.code.w.scope.create)
export(mongo.symbol.create)
export(mongo.undefined.create)
export(mongo.regex.create)
export(mongo.binary.create)
export(mongo.binary.set)
export(mongo.binary.get)

export(mongo.bson.buffer.create)
export(mongo.bson.from.buffer)
export(mongo.bson.buffer.append.int)
export(mongo.bson.buffer.append.bool)
export(mongo.bson.buffer.append.long)
export(mongo.bson.buffer.append.double)
export(mongo.bson.buffer.append.complex)
export(mongo.bson.buffer.append.null)
export(mongo.bson.buffer.append.undefined)
export(mongo.bson.buffer.append.string)
export(mongo.bson.buffer.append.symbol)
export(mongo.bson.buffer.append.code)
export(mongo.bson.buffer.append.code.w.scope)
export(mongo.bson.buffer.append.binary)
export(mongo.bson.buffer.append.time)
export(mongo.bson.buffer.append.timestamp)
export(mongo.bson.buffer.append.regex)
export(mongo.bson.buffer.append.oid)
export(mongo.bson.buffer.append.bson)
export(mongo.bson.buffer.append.element)
export(mongo.bson.buffer.append)
export(mongo.bson.buffer.start.object)
export(mongo.bson.buffer.start.array)
export(mongo.bson.buffer.finish.object)

